{% extends "partials/body.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<main>
    <div class="max-width center-div">

        <div class="img-destaque"></div>

        <div class="text-center">
            <h1>Recursos de alta demanda para sua empresa</h1>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim rerum a tenetur aperiam ex placeat quae
                exercitationem quas, molestiae obcaecati, ipsum cumque accusantium, ipsam voluptatibus voluptatum culpa
                praesentium odit nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima facilis
                voluptatem totam nobis pariatur alias sequi similique saepe iure quae necessitatibus ratione
                accusantium, a officiis adipisci at ipsam inventore quidem!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim rerum a tenetur aperiam ex placeat quae
                exercitationem quas, molestiae obcaecati, ipsum cumque accusantium, ipsam voluptatibus voluptatum culpa
                praesentium odit nesciunt.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim rerum a tenetur aperiam ex placeat quae
                exercitationem quas, molestiae obcaecati, ipsum cumque accusantium, ipsam voluptatibus voluptatum culpa
                praesentium odit nesciunt.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim rerum a tenetur aperiam ex placeat quae
                exercitationem quas, molestiae obcaecati, ipsum cumque accusantium, ipsam voluptatibus voluptatum culpa
                praesentium odit nesciunt.</p>
        </div>

    </div>
</main>

{% endblock %}
