{% extends "partials/body.twig" %}

{% block title %}Login{% endblock %}

{% block body %}

<main>
    <div class="max-width center-div">
        <div id="login-form" class="center-div">
            <h1 class="text-center">Acessar a sua conta</h1>
            <form action="{{ BASE }}login/auth" method="post" id="frmLogin">

                <div class="form-row">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" id="usuario">
                </div>

                <div class="form-row">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">
                </div>

                <div class="form-row">
                    <input type="submit" value="Login" class="btn btn-info">
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}
<script src="{{ BASE }}assets/main/js/login.js"></script>
{% endblock %}
