<header id="header-topo">
    <div class="max-width center-div container">
        <a href="{{ BASE }}" aria-label="Logo PHP Moderno">
            <img src="{{ BASE }}assets/main/img/logo/logo.png" width="381" height="259" alt="Logo PHP Moderno"
                class="logo-topo">
        </a>

        <nav>
            <ul>
                <li><a href="{{ BASE }}atualizacao">Atualização</a></li>
                <li><a href="{{ BASE }}login">Login</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
