<div class="atualizacao-card">
    <h1>{{ atualizacao.titulo }}</h1>
    <h2>{{ atualizacao.descricao | raw }}</h2>

    <a href="{{ BASE }}atualizacao/ver/{{ atualizacao.id }}" class="btn btn-success">Visualizar</a>
</div>
