{% extends "partials/body.twig" %}

{% block title %}Gerenciar usuários{% endblock %}

{% block body %}

<section>
    <h1>Gerenciar usuários</h1>

    <a href="{{ ADMIN_BASE }}usuario/add" class="btn btn-info">Novo Usuário</a>
</section>

{% endblock %}
