{% extends "partials/body.twig" %}

{% block title %}
Admin
{% endblock %}

{% block body %}

<section>
    <h1>TESTE!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat voluptate dignissimos eveniet nisi.
        Impedit adipisci magni placeat. Quasi recusandae inventore soluta dignissimos laborum architecto consequuntur
        dolore laboriosam provident quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat voluptate dignissimos eveniet nisi.
        Impedit adipisci magni placeat. Quasi recusandae inventore soluta dignissimos laborum architecto consequuntur
        dolore laboriosam provident quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat voluptate dignissimos eveniet nisi.
        Impedit adipisci magni placeat. Quasi recusandae inventore soluta dignissimos laborum architecto consequuntur
        dolore laboriosam provident quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat voluptate dignissimos eveniet nisi.
        Impedit adipisci magni placeat. Quasi recusandae inventore soluta dignissimos laborum architecto consequuntur
        dolore laboriosam provident quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat voluptate dignissimos eveniet nisi.
        Impedit adipisci magni placeat. Quasi recusandae inventore soluta dignissimos laborum architecto consequuntur
        dolore laboriosam provident quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat voluptate dignissimos eveniet nisi.
        Impedit adipisci magni placeat. Quasi recusandae inventore soluta dignissimos laborum architecto consequuntur
        dolore laboriosam provident quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat voluptate dignissimos eveniet nisi.
        Impedit adipisci magni placeat. Quasi recusandae inventore soluta dignissimos laborum architecto consequuntur
        dolore laboriosam provident quam!</p>
</section>

{% endblock %}
