{% if permission == 1 %}
<nav>
    <span>Usuário</span>
    <ul>
        <li><a href="{{ADMIN_BASE}}usuario/">Listar todos</a></li>
        <li><a href="{{ADMIN_BASE}}usuario/add">Novo usuário</a></li>
    </ul>
</nav>
{% endif %}

<nav>
    <span>Atualizações</span>
    <ul>
        <li><a href="{{ADMIN_BASE}}atualizacao/">Listar todos</a></li>
        <li><a href="{{ADMIN_BASE}}atualizacao/add">Nova atualização</a></li>
    </ul>
</nav>
